body {
    margin: 0px;
    background-image:url(https://image.freepik.com/foto-gratis/adolescente-portatil-auriculares-escuela-linea_23-2148827434.jpg);
    background-size: cover;



}

.bienvenida {
    position: relative;
    top: 100px;
    left: 800px;


}


h1 {
    font-family: 'Montserrat', sans-serif;
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #09e3eb, #3d0083);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #09e3eb, #3d0083); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        font-size: 100px; 
}

span {
    font-family:'Montserrat', sans-serif;
    font-size: 35px;


}

